<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BLOGS- ACID RAIN</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/applied-css.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Article-Dual-Column.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Projects-Clean.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Team-Boxed.css') }}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container" style="display: flex;justify-content: center;"><a class="navbar-brand"
                href="/" style="font-size: 33px;">Clean Swipe</a></div>
    </nav>
    <section class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1" style="display: flex;">
                    <div class="intro">
                        <h1 class="text-center">Understanding Acid Rain.</h1><img class="img-fluid"
                            src="{{ url_for('static', filename="img/categories-thumb/1-thumbnail.jpg")}}"">
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-10 col-lg-3 offset-md-1" style="padding: 30px;">
                    <div class="toc">
                        <h4>Table of Contents</h4>
                        <ul>
                            <li><a href="#" style="font-size: 16px;">Understanding the Problem</a> </li>
                            <li><a href="#" style="font-size: 16px;">Conserve Energy </a> </li>
                            <li><a href="#" style="font-size: 16px;">Minimize the Miles</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0" style="padding: 30px;">
                    <div class="text">
                        <p>
                            Government agencies and scientists are not the only ones that can take action to stop acid
                            rain. You can become part of the solution, too! <br </p>
                        <p>
                            <b>Understand the Problem</b><br>
                            The first step you can take to help control acid rain is to understand the problem and its
                            solutions. Now that you have learned about this environmental issue, you can tell others
                            about it. By telling your classmates, parents, and teachers about what you learned on this
                            site, you can help educate them about the problem of acid rain. You CAN make a difference!
                        </p>
                        <p>
                            <b>Conserve Energy</b><br>
                            Since energy production creates large amounts of the pollutants that cause acid rain, one
                            important step you can take is to conserve energy. You can do this in a number of ways:
                        <p>
                            Turn off lights, computers, televisions, video games, and other electrical equipment when
                            you're not using them.
                            Encourage your parents to buy equipment that uses less electricity, including lights, air
                            conditioners, heaters, refrigerators, and washing machines. Such equipment might have the
                            Energy Star label.
                            Try to limit the use of air conditioning.
                            Ask your parents to adjust the thermostat (the device used to control the temperature in
                            your home) when you go on vacation.
                        </p>
                        </p>
                        <p>
                            <b>Minimize the Miles</b><br>
                            Driving cars and trucks also produces large amounts of nitrogen oxides, which cause acid
                            rain. To help cut down on air pollution from cars, you can carpool or take public
                            transportation, such as buses and trains. Also, ask your parents to walk or bike with you to
                            a nearby store or friend’s house instead of driving.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script src={{ url_for('static', filename="js/jquery.min.js" )}}></script>
<script src={{ url_for('static', filename="bootstrap/js/bootstrap.min.js" )}}></script>
<script src={{ url_for('static', filename="js/bs-init.js" )}}></script>
<script src={{ url_for('static',
    filename="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" )}}></script>
<script src={{ url_for('static', filename="js/agency.js" )}}></script>
</body>

</html>